# ベースとして使用するモデル名
# https://ollama.com/library
BASE_MODEL=gemma4:e4b
# 好きな名前
CUSTOM_MODEL=wiki-moderator
# Discord で発行した WEB HOOK URL（設定しない場合は Discord に通知しない） 
DISCORD_WEBHOOK_URL=<https://discord.com/api/webhooks/...>